{% extends "layout.html" %}

{% block title %}
Journey of Sabarish
{% endblock %}

{% block main %}
<main>

    <h3>
        My Journey
    </h3>

    <section>
        <div class="container">
            <div class="vertical-line"></div>
            <div class="content">
                <div class="horizontal-line">
                    <h5>Secondary School Education</h5>
                    <p>St. Xavier's High School & Jr. College, Navi Mumbai, Maharashtra, India</p>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="vertical-line"></div>
            <div class="content">
                <div class="horizontal-line">
                    <h5>Higher Secondary Education</h5>
                    <p>Tilak Junior College, Navi Mumbai, Maharashtra, India</p>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="vertical-line"></div>
            <div class="content">
                <div class="horizontal-line">
                    <h5>Graduation - B.Tech CSE</h5>
                    <p>Hindustan Institute of Technology and Science - HITS, Chennai, Tamil Nadu, India</p>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="vertical-line"></div>
            <div class="content">
                <div class="horizontal-line">
                    <h5>Undergraduate Projects</h5>
                    <ul><u>
                            <a href="projects#tcw">
                                <li>Tax Calculator Website</li>
                            </a>
                            <a href="projects#bbg">
                                <li>Blue Ball Game</li>
                            </a>
                            <a href="projects#dit">
                                <li>Dietricxs Mobile Application</li>
                            </a>
                            <a href="projects#log">
                                <li>Lunar Odyssey Game</li>
                            </a>
                            <a href="projects#csw">
                                <li>CS50 Portfolio Website</li>
                            </a>
                        </u>
                    </ul>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="vertical-line"></div>
            <div class="content">
                <div class="horizontal-line">
                    <h5 id="blink">Currently!</h5>
                    <p> I am an undergraduate student in the third year at Hindustan Institute of Technology and
                        Science, pursuing a B.Tech degree in Computer Science and Engineering (CSE).
                    </p>
                </div>
            </div>
        </div>
    </section>


</main>

{% endblock %}